.btn {
  margin-top: 20px;
  width: 202.11px;
  height: 67px;
  background: var(--btn-color);
  border-radius: 100px;
  position: absolute;
  font-weight: 800;
  font-size: 28px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
