body {
  margin: 0;
  font-family: "Outfit", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #05445e;
  --btn-color: #189ab4;
  --secondary-color: #189ab4;
  --white-color: #fff;
  --black-color: #000;
}

.title {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 62px;
  color: #189ab4;
}
