.nav {
}

.nav__inner {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-name {
  font-size: 25px;
  line-height: 180%;
  color: var(--secondary-color);
}

.nav__logo-img {
  margin-left: 20px;
  width: 40px;
}

.nav__list {
  display: flex;
  margin-left: auto;
  align-items: center;
  * + * {
    margin-left: 69px;
  }
}

.nav__list-item {
  font-size: 20px;
}

.nav__linkedIn {
  width: 80%;
}
